.header__container {
  color: #0b3948;
  height: 70px;
}

.header__container--title {
  height: inherit;
  line-height: 70px;
  text-align: center;
  font-size: 1.5rem;
}

.header__link {
  text-decoration: none;
  color: #0b3948;
}
