@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.App__title {
  text-align: center;
  font-weight: 800;
}

@media screen and (max-width: 780px) {
  .App {
    background-color: rgb(126, 137, 253);
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
  }

  .App__main {
    width: 100%;
    color: #fdfaf9;
    height: 8.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .questions__container {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fdfaf9;
    margin-bottom: 20px;
  }

  .number {
    margin-bottom: 20px;
  }

  .score {
    text-align: center;
  }

  .questionCards__container {
    border-radius: 20% 20% 5% 5%;
    position: relative;
    background-color: #fdfaf9;
    width: 100%;
    height: 77vh;
    padding-top: 8%;
  }

  .question__card {
    width: 80%;
    text-align: center;
  }

  .questionCards__container--wrapper {
    display: flex;
    justify-content: center;
  }

  .questionCards__buttons {
    width: 80%;
    background-color: #eae9fa;
    border: none;
    border-radius: 2rem;
    color: #12121d;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }
}
